* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
/* input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(199, 163, 163);
  outline: black;
} */
.subBtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.InfoButton {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

.coins {
  max-width: 900px;
  margin: 5rem auto;
  padding: 0 1.25rem;
}

.coins article {
  background-color: #e5e5e5;
  padding: 0.5rem;
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  border-radius: 0.3rem;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table thead {
  background-color: #10b581;
  color: #fff;
  font-size: 1rem;
}

table thead tr th {
  padding: 1rem;
}

table tbody tr td {
  padding: 1rem;
}

table tbody tr:nth-child(even) {
  background-color: #e5e5e5;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.buttons button {
  /* width: 45%; */
  flex: 1;
  background-color: #10b581;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  transition: opacity 0.1s ease-in-out;
}

.buttons button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.buttons button:first-child {
  margin-right: 1rem;
}
